@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color: #472929;
  --background: #f1eee9;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: ;
    --background-start-rgb: ;
    --background-end-rgb: ;
  }
} */

h1,
h2,
h3 {
  font-family: var(--font-panchang);
}

body {
  color: var(--color);
  background: var(--background);
  font-family: var(--font-nunito);
}
